In [1]:
import pandas as pd
import datetime

In [14]:
transactions = pd.read_excel('C:\\Users\\reiav\\OneDrive\\Desktop\\Budget_excel.xlsx')
transactions['Date_Timestamp'] = transactions['Date'].apply(lambda x: pd.Timestamp(x))
new_transactions = pd.read_csv('C:\\Users\\reiav\\Downloads\\transactions.csv')
new_transactions['Date_Timestamp'] = new_transactions['Date'].apply(lambda x: pd.Timestamp(x))
new_transactions_reduced = []

In [15]:
transactions.dtypes

Month                            int64
Year                             int64
Date                    datetime64[ns]
Description                     object
Original Description            object
Amount                         float64
Transaction Type                object
Category                        object
Account Name                    object
Actual Amount                  float64
Labels                         float64
Notes                          float64
Date_Timestamp          datetime64[ns]
dtype: object

In [16]:
new_transactions.dtypes

Date                            object
Description                     object
Original Description            object
Amount                         float64
Transaction Type                object
Category                        object
Account Name                    object
Labels                         float64
Notes                           object
Date_Timestamp          datetime64[ns]
dtype: object

In [37]:
year = 2019
month = 6

def dateFilter(df, year, month):
    return df['Date_Timestamp'].apply(lambda x: (x.year >= year) and (x.month >= month))

for index, new_transaction in new_transactions[dateFilter(new_transactions, year, month)].iterrows():
    contains = False
    for index2, transaction in transactions[dateFilter(transactions, year, month)].iterrows():
        isEqual = (pd.Timestamp(new_transaction['Date']) == pd.Timestamp(transaction['Date'])) and \
            (new_transaction['Description'] == transaction['Description']) and \
            (new_transaction['Original Description'] == transaction['Original Description']) and \
            ((transaction['Amount'] - 0.01) < new_transaction['Amount'] < (transaction['Amount'] + 0.01)) and \
            (new_transaction['Transaction Type'] == transaction['Transaction Type']) and \
            (new_transaction['Account Name'] == transaction['Account Name'])
        if isEqual:
            contains = True
    if not contains:
        new_transactions_reduced.append(new_transaction)
new_transactions_reduced = pd.DataFrame(new_transactions_reduced)
new_transactions_reduced = new_transactions_reduced[new_transactions_reduced['Original Description'].apply(lambda x: not str(x).strip().startswith('Auth : '))]
new_transactions_reduced

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes,Date_Timestamp
25,6/07/2019,Cox Enterprises,Electronic Deposit Cox Enterprises,3069.78,credit,Income,Main Checking,NaN,NaN,2019-06-07

In [25]:
new_transactions_reduced.to_csv('C:\\Users\\reiav\\Downloads\\transactions_new.csv')

In [26]:
"asdf".startswith('a')

True